.container {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  font-size: 14px;
}

.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.form {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 0.25rem;
  border-width: 1px;
  padding: 4px;
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

label {
  margin-left: 15px;
}

.circular-color {
  width: 30px;
  height: 20px;
  padding: 0;
  border: none;
  border-radius: 50%;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

#color-container {
  display: flex;
  align-items: center;
}

.color-code {
  border: none;
}

#helperText {
  font-size: 12px;
  font-style: italic;
  color: #888;
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 10px;
}

.rounded-button {
  display: flex;
  justify-content: space-between;
  padding: 5px 5px;
  border-color: black;
  border-radius: 0.25rem;
  border-width: 2px;
  background: #ffffff;
  color: #000000;
  cursor: pointer;
  align-self: flex-end;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.cache {
  justify-content:start;
}

.rounded-button.home {
  width: 100%;
}

.rounded-button span.left {
  font-weight: bold;
}

.rounded-button:hover {
  background-color: rgba(24, 24, 24, 0.089);
}

.rounded-button:active {
  transform: scale(0.99);
}

.rounded-button:disabled {
  border-color: rgba(0, 0, 0, 0.164);
}

.rounded-button:active {
  transform: scale(0.99);
}

.button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#buttonLabel {
  margin-right: 5%;
}

#checkmark {
  margin-left: 5%;
  display: none;
}

.spinner {
  display: inline-block;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  border: .215em solid transparent;
  vertical-align: middle;
  font-size: 10px;
  border-top-color: black;
  animation: spin 1s cubic-bezier(.55, .15, .45, .85) infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

svg {
  filter: drop-shadow(2px 3px 6px rgba(0, 0, 0, .4));
}

@keyframes slide-in-down {
  0% {
      transform: translateY(-20px);
      opacity: 0;
  }
  50% {
      opacity: 0.8;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slide-out-down {
  0% {
      transform: translateY(0);
      opacity: 1;
  }
  40% {
      opacity: 0.2;
  }
  100% {
      transform: translateY(20px);
      opacity: 0;
  }
}